<div role="region" aria-labelledby="betaBannerRegion" class="govuk-phase-banner">
    <p class="govuk-phase-banner__content" id="betaBannerRegion">
        <strong class="govuk-tag govuk-phase-banner__content__tag ">
            alpha
        </strong>
        <span class="govuk-phase-banner__text">
            This is a new service – your
            <a class="govuk-link" href="@Configuration["SurveyLink"]">feedback</a> will help us to improve it.
        </span>
    </p>
</div>