
@{
    ViewData["Title"] = "Disallowed";
}

<h1>Disallowed</h1>
<h2>You do not have the correct permissions to view this page.</h2>
<br />
<h3>If you believe that you should have access, please contact <a href="mailto:YOUR.EMAIL@dft.gov.uk">YOUR.EMAIL@dft.gov.uk</a></h3>