@{
    ViewData["Title"] = "Accessibility Statement";
}

<div class="govuk-width-container">

    <a href="/" class="govuk-back-link">Home</a>

    <main class="govuk-main-wrapper app-main-class" id="main-content" role="main">
        <h1 class="govuk-heading-xl">Accessibility for @Configuration["ApplicationTitle"]</h1>

    </main>
</div>