@{
    ViewData["Title"] = "Privacy Statement";
}

<div class="govuk-width-container">

    <a href="/" class="govuk-back-link">Home</a>

    <main class="govuk-main-wrapper app-main-class" id="main-content" role="main">

        <h1 class="govuk-heading-xl">Privacy information notice</h1>

        <h2 class="govuk-heading-l">Confidentiality and data protection</h2>

    </main>

</div>