
<nav>
    <ul id="navigation" class="govuk-header__navigation " aria-label="Navigation menu">
        <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="/Home/Index">
                Home
            </a>
        </li>
        <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="/Home/About">
                About
            </a>
        </li>

        <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="/Home/Contact">
                Contact
            </a>
        </li>

        <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="/Home/Privacy">
                Privacy
            </a>
        </li>

    </ul>
</nav>
